@page "/payment/create"
@using Mollie.WebApplication.Blazor.Models
@using Mollie.Api.Models.Payment.Request

@inject IPaymentClient PaymentClient
@inject NavigationManager NavigationManager

<h3>Create new payment</h3>

<EditForm Model="model" OnValidSubmit="@OnSavePayment">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="form-group">
        <label for="amount">Amount</label>
        <InputNumber
            id="amount"
            class="form-control"
            @bind-Value="model.Amount">
        </InputNumber>
    </div>

    <div class="form-group">
        <label for="currency">Currency</label>
        <InputSelect
            id="currency"
            class="form-control"
            @bind-Value="model.Currency">
            @foreach (string currency in StaticStringListBuilder.GetStaticStringList(typeof(Currency))) {
                <option value="@currency">@currency</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="redirect-url">Redirect url</label>
        <InputText
            id="redirect-url"
            class="form-control"
            @bind-Value="model.RedirectUrl">
        </InputText>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <InputText
            id="description"
            class="form-control"
            @bind-Value="model.Description">
        </InputText>
    </div>

    <input type="submit" name="Save" value="Save" class="btn btn-primary"/>
</EditForm>

@code {
    private CreatePaymentModel model = new() {
        Amount = 10.00m,
        Currency = "EUR",
        RedirectUrl = "https://www.mollie.com/",
        Description = "A payment from the example application"
    };
    
    private async Task OnSavePayment() {
        await PaymentClient.CreatePaymentAsync(new PaymentRequest {
            Amount = new Amount(model.Currency, model.Amount),
            RedirectUrl = model.RedirectUrl,
            Description = model.Description
        });
        
        NavigationManager.NavigateTo("/payment/overview");
    }
}