@page "/customer/create"

@using Mollie.WebApplication.Blazor.Models.Customer

@inject ICustomerClient CustomerClient
@inject NavigationManager NavigationManager

<h3>Create new customer</h3>

<EditForm Model="model" OnValidSubmit="@OnSave" class="col-md-6">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText
            id="name"
            class="form-control"
            @bind-Value="model.Name">
        </InputText>
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <InputText
            id="email"
            class="form-control"
            @bind-Value="model.Email">
        </InputText>
    </div>

    <input type="submit" name="Save" value="Save" class="btn btn-primary mt-2"/>
</EditForm>

@code {
    private CreateCustomerModel model = new() {
        Name = "Customer name",
        Email = "customer@customer.customer"
    };
    
    private async Task OnSave() {
        await CustomerClient.CreateCustomerAsync(new CustomerRequest() {
            Name = model.Name,
            Email = model.Email
        });
        
        NavigationManager.NavigateTo("/customer/overview");
    }
}