@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Mollie API Demo application</h1>
            <p class="lead text-muted">
                Welcome to the Mollie API demo application. This is a sample application that demonstrates how to create payments, customers, subscriptions and much more.
            </p>
            <p>
                <a asp-action="Create" asp-controller="Payment" class="btn btn-primary my-2">Create a new payment</a>
            </p>
        </div>
    </section>
</main>