<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mollie API Demo Application - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/bundles/vendor.min.css">
    <environment include="Development">
        <link href="~/css/Site.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bundles/site.min.css">
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Mollie API Demo Application</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Payment">Payments</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="PaymentMethod">Payment methods</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Customer">Customers</a></li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/js/bundles/vendor.min.js"></script>
    <environment include="Development">
    </environment>

    <environment exclude="Development">
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
