<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mollie API Demo Application - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/vendor.min.css" rel="stylesheet">
    <environment include="Development">
    </environment>

    <environment exclude="Development">
    </environment>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/js/vendor.min.js"></script>
    <environment include="Development">
    </environment>

    <environment exclude="Development">
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
